#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  border: 1px solid #ccc;
  border-radius: 30px;
  max-width: 500px;
  margin: auto;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group input {
  height: 40px;
  /* margin-right: 16px; */
}

.input-group button {
  top: 0px;
  width: 80px;
  height: 40px;
}